/* Default fonts for all locales used in home, setup, error, and force update
   screens. */

@font-face {
  font-family: 'Local Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans');
}

p, li, ul, a, div, span {
  font-family: 'Local Open Sans';
}
