/* CSS Document for LTR locales */

@charset 'utf-8';

p, li, ul, a, div, span {
  direction: ltr;
}

#welcome-wordless-image {
  margin-left: -64px;
}

#welcome-image {
  margin-left: -21px;
}

#txt-pin-code {
  right: 46px;
  text-align: right;
}

#info-box {
  left: 64px;
}

#time {
  right: 64px;
  text-align: right;
}
