/* Styles specific to locales which use Open Sans Light fonts in some places. */

@font-face {
  font-family: 'Local Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('http://localhost:8008/setup/fonts/OpenSans-Light.ttf');
}

.sub-main-text, .sub-main-text-welcome-2 {
  font-weight: 300;
}

#txt-message {
  font-weight: 300;
}
