/* Styles specific to ja locale. */

p, li, ul, a, div, span {
  font-family: 'Local Open Sans',
               'MotoyaLCedar';
  font-size: 30px;
  line-height: 140%;
}

#main-text {
  font-size: 90px;
}

#detailed-info-box {
  /* Though style_common.css has margin-top -10px, it doesn't fit in Motoya
     because the location of glyph is higher in Moyota than in other fonts. */
  margin-top: -8px;
}
