/* CSS Document for RTL locales */

@charset 'utf-8';

p, li, ul, a, div, span {
  direction: rtl;
}

#welcome-wordless-image {
  margin-right: -64px;
}

#welcome-image {
  margin-right: -21px;
}

#txt-pin-code {
  left: 46px;
  text-align: left;
}

#info-box {
  right: 64px;
}

#time {
  left: 64px;
  text-align: right;
}
