/* Styles specific to kn locale. */

p, li, ul, a, div, span {
  font-family: 'Local Open Sans',
               'Noto Sans Kannada';
  line-height: 1.6em;
}

#main-layout {
  top: 56px;
}

#txt-pin-code {
  bottom: 17px;
}

#detailed-info-box {
  margin-top: -13px;
}

#wifi-box {
  margin-top: -5px;
}

#wifi-signal {
  margin-bottom: 14px;
}

#time {
  bottom: 40px;
}
