<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.google.android.tv.remote" platformBuildVersionCode="24" platformBuildVersionName="7.0">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true"/>
    <meta-data android:name="android.support.VERSION" android:value="26.0.0-alpha1"/>
    <application android:allowBackup="true" android:hardwareAccelerated="true" android:icon="@mipmap/ic_launcher_tvremote" android:label="@string/android_tv" android:name="com.google.android.tv.remote.RemoteApplication" android:resizeableActivity="false" android:supportsRtl="true" android:theme="@style/Theme.AtvRemote">
        <activity android:configChanges="orientation|screenSize" android:label="@string/android_tv" android:launchMode="singleTask" android:name="com.google.android.tv.remote.CoreRemoteActivity" android:windowSoftInputMode="adjustPan"/>
        <activity android:launchMode="singleTask" android:name="com.google.android.tv.remote.FirstRunActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.DeviceDefault.NoActionBar"/>
        <activity android:name="com.google.android.tv.remote.RemoteActivity" android:theme="@android:style/Theme.DeviceDefault.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:exported="true" android:name="com.google.android.tv.remote.LicenseActivity"/>
        <service android:enabled="true" android:name="com.google.android.tv.remote.ClientListenerService"/>
        <service android:enabled="true" android:name="com.google.android.tv.remote.RemoteWearableListenerService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER"/>
            </intent-filter>
        </service>
        <receiver android:name="com.google.android.tv.remote.WifiStateChangeReceiver">
            <intent-filter>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>
                <action android:name="android.net.wifi.STATE_CHANGE"/>
            </intent-filter>
        </receiver>
        <service android:name="com.google.android.tv.remote.OnWifiChangedService"/>
        <provider android:authorities="com.google.android.tv.remote.documents" android:enabled="false" android:exported="true" android:grantUriPermissions="true" android:name="com.google.android.tv.remote.BugreportStorageProvider" android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER"/>
            </intent-filter>
        </provider>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <meta-data android:name="com.google.android.wearable.beta.app" android:resource="@xml/android_wear_micro_apk"/>
    </application>
</manifest>