<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.google.android.apps.tachyon" platformBuildVersionCode="27" platformBuildVersionName="P">
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <permission android:name="com.google.android.apps.tachyon.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="com.google.android.apps.tachyon.permission.C2D_MESSAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_CALL_LOG"/>
    <uses-permission android:name="android.permission.READ_SYNC_STATS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission-sdk-23 android:name="android.permission.MANAGE_OWN_CALLS"/>
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission-sdk-23 android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ"/>
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE"/>
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT"/>
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE"/>
    <uses-permission android:name="com.sonymobile.home.permission.PROVIDER_INSERT_BADGE"/>
    <uses-permission android:name="com.anddoes.launcher.permission.UPDATE_COUNT"/>
    <uses-permission android:name="com.majeur.launcher.permission.UPDATE_BADGE"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_APP_BADGE"/>
    <uses-permission android:name="com.oppo.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.oppo.launcher.permission.WRITE_SETTINGS"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.any" android:required="true"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.screen.portrait" android:required="false"/>
    <uses-feature android:name="android.hardware.screen.landscape" android:required="false"/>
    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>
    <application android:allowBackup="false" android:hardwareAccelerated="true" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:name="com.google.android.apps.tachyon.TachyonApplication" android:resizeableActivity="false" android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true">
        <service android:exported="false" android:name="com.google.android.apps.tachyon.jobs.FirebaseJobDispatcherJobService">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
            </intent-filter>
        </service>
        <service android:exported="true" android:name="com.google.android.apps.tachyon.jobs.NativeJobSchedulerJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <activity android:excludeFromRecents="true" android:exported="false" android:name="com.google.android.libraries.hats20.SurveyPromptActivity" android:theme="@style/HatsLibPromptTheme" android:windowSoftInputMode="adjustPan"/>
        <activity android:exported="false" android:name="com.google.android.libraries.hats20.ShowSurveyActivity" android:theme="@style/TransparentActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:exported="true" android:label="@string/preferences_license_title" android:name="com.google.android.libraries.social.licenses.LicenseMenuActivity" android:theme="@style/Theme.AppCompat.Light"/>
        <activity android:exported="false" android:label="@string/preferences_license_title" android:name="com.google.android.libraries.social.licenses.LicenseActivity" android:theme="@style/Theme.AppCompat.Light"/>
        <receiver android:exported="false" android:name="com.google.android.libraries.social.silentfeedback.nobinder.SilentFeedbackReceiver" android:process=":crash_report"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.analytics.AnalyticsReceiver"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.analytics.AnalyticsService"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.analytics.AnalyticsJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <activity android:exported="true" android:name="com.google.android.gms.appinvite.PreviewActivity" android:theme="@style/Theme.AppInvite.Preview">
            <intent-filter>
                <action android:name="com.google.android.gms.appinvite.ACTION_PREVIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:excludeFromRecents="true" android:exported="false" android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <service android:exported="true" android:name="com.google.android.gms.auth.api.signin.RevocationBoundService" android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION"/>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementReceiver"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService"/>
        <receiver android:enabled="true" android:exported="true" android:name="com.google.android.gms.measurement.AppMeasurementInstallReferrerReceiver" android:permission="android.permission.INSTALL_PACKAGES">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="false" android:name="com.google.firebase.iid.FirebaseInstanceIdInternalReceiver"/>
        <service android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdService">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.tagmanager.TagManagerService"/>
        <activity android:exported="true" android:name="com.google.android.gms.tagmanager.TagManagerPreviewActivity" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
        <service android:exported="true" android:name="com.firebase.jobdispatcher.GooglePlayReceiver" android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY"/>
            </intent-filter>
        </service>
        <activity android:label="@string/app_name" android:name="com.google.android.gms.tagmanager.PreviewActivity" android:noHistory="true">
            <intent-filter>
                <data android:scheme="com.google.android.apps.tachyon"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="orientation|screenLayout|screenSize|smallestScreenSize" android:exported="false" android:label="@string/settings_name" android:name="com.google.android.apps.tachyon.SettingsActivity" android:theme="@style/TachyonSettingsTheme"/>
        <activity android:configChanges="orientation|screenLayout|screenSize|smallestScreenSize" android:label="@string/app_name" android:launchMode="singleTask" android:name="com.google.android.apps.tachyon.MainActivity" android:supportsPictureInPicture="true" android:theme="@style/TachyonLauncherTheme" android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="h2hyk.app.goo.gl" android:scheme="http"/>
                <data android:host="h2hyk.app.goo.gl" android:scheme="https"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:host="duo.google.com"/>
                <data android:path="/install"/>
            </intent-filter>
        </activity>
        <activity-alias android:exported="false" android:name="com.google.android.apps.tachyon.RegisterRequestActivity" android:targetActivity="com.google.android.apps.tachyon.MainActivity"/>
        <activity-alias android:exported="false" android:name="com.google.android.apps.tachyon.ProcessedCallRequestActivity" android:targetActivity="com.google.android.apps.tachyon.MainActivity"/>
        <activity android:exported="true" android:label="@string/app_name" android:name="com.google.android.apps.tachyon.ExternalCallActivity" android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="com.google.android.apps.tachyon.action.CALL"/>
                <action android:name="com.google.android.apps.tachyon.action.DIAL"/>
                <action android:name="com.google.android.apps.tachyon.action.INVITE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="tel"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.apps.tachyon.action.ADD_ACCOUNT"/>
                <action android:name="com.google.android.apps.tachyon.action.REGISTER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity-alias android:exported="true" android:icon="@drawable/ic_duo_launcher" android:name="com.google.android.apps.tachyon.ContactsAudioActionActivity2" android:permission="android.permission.CALL_PRIVILEGED" android:targetActivity="com.google.android.apps.tachyon.ExternalCallActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="vnd.android.cursor.item/com.google.android.apps.tachyon.phone.audio"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:exported="true" android:icon="@drawable/ic_duo_launcher" android:name="com.google.android.apps.tachyon.ContactsAudioActionActivity" android:permission="android.permission.CALL_PHONE" android:targetActivity="com.google.android.apps.tachyon.ExternalCallActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="vnd.android.cursor.item/com.google.android.apps.tachyon.phone.audio"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:exported="true" android:icon="@drawable/ic_duo_launcher" android:name="com.google.android.apps.tachyon.ContactsVideoActionActivity2" android:permission="android.permission.CALL_PRIVILEGED" android:targetActivity="com.google.android.apps.tachyon.ExternalCallActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="vnd.android.cursor.item/com.google.android.apps.tachyon.phone"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:exported="true" android:icon="@drawable/ic_duo_launcher" android:name="com.google.android.apps.tachyon.ContactsVideoActionActivity" android:permission="android.permission.CALL_PHONE" android:targetActivity="com.google.android.apps.tachyon.ExternalCallActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="vnd.android.cursor.item/com.google.android.apps.tachyon.phone"/>
            </intent-filter>
        </activity-alias>
        <activity android:configChanges="orientation|screenLayout|screenSize|smallestScreenSize" android:exported="false" android:name="com.google.android.apps.tachyon.BadCallRatingActivity" android:theme="@style/TachyonActivityDialogCompat"/>
        <activity android:configChanges="orientation|screenLayout|screenSize|smallestScreenSize" android:exported="false" android:label="@string/call_diagnostic_log_title" android:name="com.google.android.apps.tachyon.CallLogActivity" android:theme="@style/MainActivityTheme"/>
        <activity android:configChanges="orientation|screenLayout|screenSize|smallestScreenSize" android:exported="false" android:label="@string/update_screen_primary" android:name="com.google.android.apps.tachyon.ui.AppBlockActivity" android:theme="@style/MainActivityTheme"/>
        <activity android:configChanges="orientation|screenLayout|screenSize|smallestScreenSize" android:exported="false" android:label="@string/blocked_numbers_activity_label" android:name="com.google.android.apps.tachyon.ui.blockednumber.BlockedNumbersActivity" android:theme="@style/TachyonSettingsTheme"/>
        <activity android:configChanges="orientation|screenLayout|screenSize|smallestScreenSize" android:exported="false" android:label="@string/knock_knock_setting_activity_label" android:name="com.google.android.apps.tachyon.KnockKnockSettingActivity" android:theme="@style/TachyonSettingsTheme"/>
        <activity android:configChanges="orientation|screenLayout|screenSize|smallestScreenSize" android:excludeFromRecents="true" android:exported="false" android:name="com.google.android.apps.tachyon.util.ScreenCapturerHelper$HandleAuthIntentActivity" android:theme="@android:style/Theme.Dialog"/>
        <activity android:configChanges="orientation|screenLayout|screenSize|smallestScreenSize" android:excludeFromRecents="true" android:exported="false" android:name="com.google.android.apps.tachyon.ScreenSharingStartupActivity" android:theme="@android:style/Theme.Dialog"/>
        <activity android:configChanges="orientation|screenLayout|screenSize|smallestScreenSize" android:excludeFromRecents="true" android:exported="true" android:label="@string/export_call_history_title" android:name="com.google.android.apps.tachyon.ui.exportcallhistory.ExportCallHistoryActivity" android:noHistory="true" android:theme="@style/MainActivityTheme"/>
        <receiver android:exported="true" android:name="com.google.android.apps.tachyon.net.fcm.FcmBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="com.google.android.apps.tachyon"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="true" android:name="com.google.android.gms.tagmanager.InstallReferrerReceiver">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="true" android:exported="true" android:name="com.google.android.apps.tachyon.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="true" android:exported="true" android:name="com.google.android.apps.tachyon.InstallReceiver">
            <intent-filter>
                <action android:name="com.google.android.apps.tachyon.intent.INSTALL"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.apps.tachyon.NotificationIntentReceiver">
            <intent-filter>
                <action android:name="com.google.android.apps.tachyon.action.NOTIFY_DISMISS"/>
                <action android:name="com.google.android.apps.tachyon.action.MISSED_CALL_ACTION_OPEN_ACTIVITY"/>
                <action android:name="com.google.android.apps.tachyon.action.MISSED_CALL_ACTION_CALL_BACK"/>
                <action android:name="com.google.android.apps.tachyon.action.MISSED_CALL_ACTION_SEND_SMS"/>
                <action android:name="com.google.android.apps.tachyon.action.FAILED_OUTGOING_MESSAGE_ACTION_RETRY"/>
                <action android:name="com.google.android.apps.tachyon.action.FAILED_OUTGOING_MESSAGE_ACTION_DISMISS"/>
                <action android:name="com.google.android.apps.tachyon.action.INCOMING_MESSAGE_ACTION_BLOCK"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.apps.tachyon.receiver.AppUpdateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="true" android:exported="true" android:name="com.google.android.apps.tachyon.receiver.LocaleChangeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="true" android:name="com.google.android.apps.tachyon.util.pheno.PhenotypeBroadcastReceiver" android:permission="com.google.android.gms.permission.PHENOTYPE_UPDATE_BROADCAST">
            <intent-filter>
                <action android:name="com.google.android.gms.phenotype.UPDATE"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="false" android:name="com.google.android.apps.tachyon.notification.NotificationBroadcastReceiver">
            <intent-filter>
                <action android:name="com.google.android.apps.tachyon.action.ONBOARDING_NOTIFICATION_UNSUBSCRIBE"/>
                <action android:name="com.google.android.apps.tachyon.action.ONBOARDING_NOTIFICATION_SETUP"/>
                <action android:name="com.google.android.apps.tachyon.action.ONBOARDING_NOTIFICATION_DELETE"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="true" android:exported="true" android:name="com.google.android.apps.tachyon.PhoneStateMonitor" android:permission="android.permission.READ_PHONE_STATE">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE"/>
            </intent-filter>
        </receiver>
        <service android:exported="false" android:name="com.google.android.apps.tachyon.net.fcm.FcmMessageHandlingService"/>
        <service android:name="com.google.android.gms.tagmanager.InstallReferrerService"/>
        <service android:exported="false" android:name="com.google.android.apps.tachyon.net.fcm.FcmInstanceIdListenerService">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>
        <service android:exported="false" android:name="com.google.android.apps.tachyon.CallService" android:stopWithTask="true"/>
        <service android:exported="false" android:name="com.google.android.apps.tachyon.net.user.RegistrarService" android:stopWithTask="false"/>
        <receiver android:exported="true" android:name="com.google.android.apps.tachyon.InstallReferrerBroadcastReceiver">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="true" android:exported="true" android:name="com.google.android.apps.tachyon.SmsRetrieverReceiver">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED"/>
            </intent-filter>
        </receiver>
        <service android:exported="false" android:name="com.google.android.apps.tachyon.notification.UnblockedNotificationService"/>
        <service android:exported="true" android:name="com.google.android.apps.tachyon.contacts.reachability.ReachabilityService"/>
        <service android:exported="true" android:name="com.google.android.apps.tachyon.clientapi.ClientApiService"/>
        <service android:exported="true" android:name="com.google.android.apps.tachyon.telecom.TelecomFallbackService"/>
        <service android:name="com.google.android.apps.tachyon.telecom.TachyonTelecomConnectionService" android:permission="android.permission.BIND_TELECOM_CONNECTION_SERVICE">
            <intent-filter>
                <action android:name="android.telecom.ConnectionService"/>
            </intent-filter>
        </service>
        <service android:name="com.google.android.apps.tachyon.contacts.sync.SyncService">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter" android:resource="@xml/syncadapter"/>
            <meta-data android:name="android.provider.CONTACTS_STRUCTURE" android:resource="@xml/contacts"/>
        </service>
        <service android:name="com.google.android.apps.tachyon.contacts.sync.DuoAccountService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator" android:resource="@xml/authenticator"/>
        </service>
        <service android:exported="false" android:name="com.google.android.apps.tachyon.net.fcm.ForegroundService"/>
        <meta-data android:name="android.max_aspect" android:value="2.4"/>
        <meta-data android:name="optimization_key" android:value="D0IvnZn4mwVGcE50v9cZA/+FSFYTENDPRDs0zVgQ5lcxrDN4yWyD1WZmmEMQZR5YAsYCPi8gZDHLVytY9L4CjIwkCfwY5bdcNi2WWZmTQX3fAYpVyX97M472iKIAJ2vZ9LNdblNaRoXJHguJPhIiIBr1VAJDy6l3sjmN959ZGcadpSfa5kz0rquzK6rl+yCEvp/ryMaGc/cd4DEWn0Si8jGOICVBfhdv+VrmUe9tG/fBEBJsdwkKa4IO3uvneHOxM3yqIb0gE2dcIu75O2v0RL0vCIIAgtsiJAqJSRE4D1jE4vTXrE+cp1iXTlevZHXzxHa/OxXJXv01fqlwn50SUg=="/>
    </application>
</manifest>