<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:sharedUserId="com.google.uid.shared" package="com.google.android.sss.authbridge" platformBuildVersionCode="22" platformBuildVersionName="5.1.1-2167335">
    <permission android:description="@string/permdesc_auth_bridge" android:name="com.google.android.sss.permission.AUTH_BRIDGE" android:protectionLevel="signature"/>
    <application android:label="Second Screen Setup Auth Bridge" android:process="com.google.android.sss.authbridge">
        <service android:exported="true" android:name=".AuthService" android:permission="com.google.android.sss.permission.AUTH_BRIDGE"/>
    </application>
</manifest>