html {
  height: 100%;
  overflow: hidden;
}

body {
  display: table;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 10px 0;
}

body > div {
  display: table-row;
}

.vertically-centered {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}

.background {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

h1 {
  /* line-height set in js */
  color: black;
  font-size: 1.6em;
  font-weight: normal;
  text-align: center;
  margin: 0;
  width: 100%;
}

h2 {
  color: black;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

p {
  color: #888;
  font-weight: normal;
  text-align: center;
  margin: auto;
  width: 80%;
}

li {
  text-align: left;
}

