<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.google.android.gms.setup" platformBuildVersionCode="26" platformBuildVersionName="O">
    <application android:icon="@drawable/common_ic_googleplayservices">
        <receiver android:exported="true" android:name="com.google.android.gms.apk.ModuleQueryReceiver" android:permission="com.google.android.gms.chimera.permission.QUERY_MODULES">
            <intent-filter>
                <action android:name="com.google.android.gms.chimera.module.QUERY"/>
            </intent-filter>
        </receiver>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
    </application>
</manifest>