<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.google.android.apps.wallpaper" platformBuildVersionCode="27" platformBuildVersionName="8.1.0">
    <permission android:name="com.google.android.apps.wallpaper.NOTIFY_ROTATING_WALLPAPER_CHANGED" android:protectionLevel="signature"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_WALLPAPER_INTERNAL"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.apps.wallpaper.NOTIFY_ROTATING_WALLPAPER_CHANGED"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <application android:allowBackup="true" android:backupAgent="com.google.android.apps.wallpaper.backup.WallpapersBackupAgentHelper" android:icon="@mipmap/product_logo_wallpapers_launcher_color_48" android:label="@string/app_name" android:name="com.google.android.apps.wallpaper.picker.WallpapersApplication" android:requiredForAllUsers="true" android:restoreAnyVersion="true" android:supportsRtl="true">
        <meta-data android:name="com.google.android.apps.wallpaper.asset.WallpaperGlideModule" android:value="GlideModule"/>
        <activity android:label="@string/app_name" android:name="com.google.android.apps.wallpaper.picker.TopLevelPickerActivity" android:resizeableActivity="true" android:theme="@style/WallpaperTheme">
            <intent-filter>
                <action android:name="android.intent.action.SET_WALLPAPER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name="com.google.android.apps.wallpaper.picker.individual.IndividualPickerActivity" android:parentActivityName="com.google.android.apps.wallpaper.picker.TopLevelPickerActivity" android:resizeableActivity="true" android:theme="@style/WallpaperTheme"/>
        <activity android:name="com.google.android.apps.wallpaper.picker.PreviewActivity" android:resizeableActivity="false" android:theme="@style/WallpaperTheme.Preview"/>
        <activity android:name="com.google.android.apps.wallpaper.picker.StandalonePreviewActivity" android:resizeableActivity="false" android:theme="@style/WallpaperTheme.Preview">
            <intent-filter>
                <action android:name="android.service.wallpaper.CROP_AND_SET_WALLPAPER"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
            </intent-filter>
        </activity>
        <activity android:name="com.google.android.apps.wallpaper.picker.ViewOnlyPreviewActivity" android:resizeableActivity="false" android:theme="@style/WallpaperTheme.Preview"/>
        <service android:enabled="@bool/enable_no_backup_image_wallpaper" android:label="@string/no_backup_image_wallpaper_label" android:name="com.google.android.apps.wallpaper.module.NoBackupImageWallpaper" android:permission="android.permission.BIND_WALLPAPER" android:process=":live_wallpaper">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>
            <meta-data android:name="android.service.wallpaper" android:resource="@xml/no_backup_image_wallpaper"/>
        </service>
        <provider android:authorities="com.google.android.apps.wallpaper.sync" android:exported="true" android:name="com.google.android.apps.wallpaper.sync.SyncDataProvider" android:readPermission="org.chromium.arc.intent_helper.permission.SYNC_SYSTEM_APP_DATA"/>
        <receiver android:name="com.google.android.apps.wallpaper.backdrop.BackdropAlarmReceiver"/>
        <receiver android:name="com.google.android.apps.wallpaper.module.BackdropAlarmReceiver"/>
        <receiver android:name="com.google.android.apps.wallpaper.module.DailyLoggingAlarmReceiver"/>
        <receiver android:name="com.google.android.apps.wallpaper.module.GoogleAlarmInitializer">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.google.android.apps.wallpaper.backup.MissingHashCodeGenerator">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.google.android.apps.wallpaper.sync.ArcSyncReceiver">
            <intent-filter>
                <data android:scheme="content"/>
                <action android:name="org.chromium.arc.intent_helper.ACTION_SYNC_SYSTEM_APP_DATA"/>
            </intent-filter>
        </receiver>
        <service android:exported="true" android:name="com.google.android.apps.wallpaper.backdrop.BackdropRotationTask" android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY"/>
            </intent-filter>
        </service>
        <service android:exported="true" android:name="com.google.android.apps.wallpaper.backdrop.BackdropRotationJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:exported="true" android:name="com.google.android.apps.wallpaper.backup.MissingHashCodeGeneratorJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:exported="true" android:name="com.google.android.apps.wallpaper.sync.ArcRemoteDataSyncJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:exported="true" android:name="com.google.android.apps.wallpaper.sync.ArcSyncDataProcessorJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <meta-data android:name="com.google.android.backup.api_key" android:value="AEdPqrEAAAAILpvVyGNlbaI9Z7BUfwhs4Rj8514WGT-XzGjImQ"/>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <activity-alias android:label="@string/app_name" android:name="com.google.android.apps.wallpaper.picker.CategoryPickerActivity" android:targetActivity="com.google.android.apps.wallpaper.picker.TopLevelPickerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
    </application>
</manifest>