/* Copyright 2011 Google Inc.  All Rights Reserved. */

/* CSS declarations that are always applied to a fixed layout book
 *  <body//iframe id='gb-container'>
 *    <div class='gb-chapter'>
 *      <??'gb_segment'>
 */

html, body, .gb-segment, #gb-container {
    border: 0;
    margin: 0;
    padding: 0;
}

#gb-container {
    position: absolute;
}

.gb-segment {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
}
