/* Copyright 2010 Google Inc.  All Rights Reserved. */

/* Css declarations that are applied to books that do not have publisher css.
   Styles defined in override.css will also be applied to those books.
*/

body {
    background: #fff;
    color: #000;
}

/* The following styles were stolen from the iPhone app, for consistency. */
.gb-segment .gstxt_sup {
    font-size: 75%;
    position: relative;
    bottom: 0.5em;
}

.gb-segment .gstxt_sub {
    font-size: 75%;
    position: relative;
    top: 0.3em;
}

.gb-segment .gstxt_hlt {
    background-color: yellow;
}

.gb-segment div.gtxt_inset_box {
    padding-top: 1em;
    padding-bottom: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 1px black solid;
}

.gb-segment div.gtxt_footnote {
    border: 1px black dotted;
}

.gb-segment .gstxt_underline {
    text-decoration: underline;
}

.gb-segment .gtxt_heading {
    text-align: center;
    margin-bottom: 1em;
    font-size: 150%;
    font-weight: bold;
    font-variant: small-caps;
}

.gb-segment .gtxt_h1_heading {
    text-align: center;
    font-size: 135%;
    font-weight: bold;
}

.gb-segment .gtxt_h2_heading {
    font-size: 120%;
    font-weight: bold;
}

.gb-segment .gtxt_h3_heading {
    font-weight: bold;
}

.gb-segment .gtxt_lineated {
    margin-top: 1em;
    margin-bottom: 1em;
    white-space: pre-wrap;
}

.gb-segment .gtxt_lineated_code {
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: monospace;
    white-space: pre-wrap;
}

.gb-segment .gtxt_quote {
    margin-top: 1em;
    margin-bottom: 1em;
}

.gb-segment .gimg_graphic {
    margin-top: 1em;
    margin-bottom: 1em;
}

.gb-segment .gimg_table {
    margin-top: 1em;
    margin-bottom: 1em;
}
