/**
 * Overrides for static resources when presenting locally.
 */

.punch-viewer-loadstatus-loading-icon {
  background-image: url(spinner-0.gif);
}

.punch-viewer-nav .goog-flat-menu-button-dropdown {
  background: url(viewer-10.png);
}

.punch-viewer-icon-large {
  background: url(viewer-10.png) no-repeat;
}

.punch-viewer-loadstatus-error-icon {
  background: url(viewer-10.png) no-repeat;
}

.punch-viewer-body .goog-option-selected .goog-menuitem-checkbox {
  background-image: url(viewer-10.png);
}
